* {
padding: 0;
    margin: 0;

}



main {
        font-family: sans-serif;
    font-size: 2em;
    align-content: center;
    align-content: center;
    display: grid;
    width: 100%;
    grid-template-areas: 
        "h h h h h h h h h h h h" 
        "i i i i i i i i i i i i" 
        "h2 h2 h2 h2 h2 h2 h2 h2 h2 h2 h2 h2" 
        ". . . c c c c c . . . ." 
        "qt qt qt qt qt qt qt qt qt qt qt qt" 
        "f f f f f f f f f f f f";
    align-items: center;
    grid-template-rows: auto auto 1fr auto 1fr 1fr;
    grid-template-columns: repeat(12, 1fr);
    background-color: #cbcaca;
}


header {
    grid-area: h;
    text-align: center;
    background-color: #c4c4c4;
    font-size: 1em;
}

figure {
    grid-area: i;
    align-content: center;
    text-align: center;
        background-color: #ffffff;
}

h2 {
    grid-area: h2;
    text-align: center;
}

ul {
    grid-area: c;
}

#quote {
    grid-area: qt;
    text-align: center;
}

footer {
    grid-area: f;
    text-align: center;
    font-weight: bold;
}

img {
/*    display: block;*/

    max-width: 100%;
    height: auto;
}


